---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/globals.css';
---

<BaseLayout title="Contatti">
  <main>
    <section class="section">
      <div class="container">
        <h1>Contatti</h1>
      </div>
    </section>
  </main>
</BaseLayout>
