---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Privacy Policy" robots="noindex, follow">
  <main>
    <section class="section">
      <div class="container">
        <h1>Privacy Policy</h1>
      </div>
    </section>
  </main>
</BaseLayout>
